@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap');

.footer{
    
    border-top: 1px solid white;
    background-color: #101114;
    color: white;
}
p{
    height: 100px;
    margin: auto;
    text-align: center;
    padding-top: 2.5%;
}