@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap');

.featProj {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 100vh;
    background-color: white;
    font-family: 'Rubik', sans-serif;
    margin-top: 3%;
    /* font-family: 'Open Sans', sans-serif; */
    color:#919191;
}

.featTitle{
    border-bottom: 1px solid #919191;
}


.leftFeatImg{
    /* background-color: red;   */
    padding-top: 6%;
    width: 60%;
    max-height: 100%;
    /* background-color:; */
}
.rightFeatText{
    /* background-color:  blue; */
    max-height: 100%;
    width: 40%;
    padding-top: 6%;
    color: #5e5e5e;
    /* padding-bottom: 3%;
    /* padding-left: 20%; */
    /* padding-right: 5%; */
    
}
.projectTitle{
    font-size: 3rem;
    color: black;
}
.myImg{
    max-width: 90%;
    height: auto;
    max-height: 100%;
    
    border-radius: 15px!important;
}
.horizontalCenter{
    padding-left: 46%;
    padding-right: auto;
}
.btn-lg{
    
    border-radius: 25px;
    font-size: 1.4rem;
    /* font-weight: 200!important; */
}
/* .rightCenter img {
    height: ;
} */

